@import url(https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: GTWalsheimPro;
  font-display: swap;
  src: url("../fonts/GTWalsheimPro-Medium.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.1875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #1d2532;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
}

.wrapper::before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(11.969deg);
      -ms-transform: rotate(11.969deg);
          transform: rotate(11.969deg);
  border-radius: 25.875rem;
  background: linear-gradient(171deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
  -webkit-filter: blur(86px);
          filter: blur(86px);
  top: -2%;
}

@supports (width: clamp( 14.8125rem , 11.2367424242rem  +  17.8787878788vw , 25.875rem )) {
  .wrapper::before {
    width: clamp( 14.8125rem , 11.2367424242rem  +  17.8787878788vw , 25.875rem );
  }
}

@supports not (width: clamp( 14.8125rem , 11.2367424242rem  +  17.8787878788vw , 25.875rem )) {
  .wrapper::before {
    width: calc(14.8125rem + 11.0625 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 14.8125rem , 11.2367424242rem  +  17.8787878788vw , 25.875rem )) {
  .wrapper::before {
    height: clamp( 14.8125rem , 11.2367424242rem  +  17.8787878788vw , 25.875rem );
  }
}

@supports not (height: clamp( 14.8125rem , 11.2367424242rem  +  17.8787878788vw , 25.875rem )) {
  .wrapper::before {
    height: calc(14.8125rem + 11.0625 * (100vw - 20rem) / 61.875);
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}


[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

button {
  font-family: GTWalsheimPro;
}

body::after {
  content: "";
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  background: rgba(48, 9, 97, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 20;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  overflow: hidden;
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background: radial-gradient(207.54% 112.44% at 15.58% -40.39%, #323e51 0%, #1d2532 100%);
  padding-right: 0.625rem;
  width: 100%;
  max-width: 670px;
  border-radius: 30px;
}

@supports (padding-top: clamp( 2.8125rem , 2.5902777778rem  +  1.1111111111vw , 3.5rem )) {
  .popup__content {
    padding-top: clamp( 2.8125rem , 2.5902777778rem  +  1.1111111111vw , 3.5rem );
  }
}

@supports not (padding-top: clamp( 2.8125rem , 2.5902777778rem  +  1.1111111111vw , 3.5rem )) {
  .popup__content {
    padding-top: calc(2.8125rem + 0.6875 * (100vw - 20rem) / 61.875);
  }
}

@supports (padding-left: clamp( 1rem , -0.0909090909rem  +  5.4545454545vw , 4.375rem )) {
  .popup__content {
    padding-left: clamp( 1rem , -0.0909090909rem  +  5.4545454545vw , 4.375rem );
  }
}

@supports not (padding-left: clamp( 1rem , -0.0909090909rem  +  5.4545454545vw , 4.375rem )) {
  .popup__content {
    padding-left: calc(1rem + 3.375 * (100vw - 20rem) / 61.875);
  }
}

@supports (padding-bottom: clamp( 2.5625rem , 1.5726010101rem  +  4.9494949495vw , 5.625rem )) {
  .popup__content {
    padding-bottom: clamp( 2.5625rem , 1.5726010101rem  +  4.9494949495vw , 5.625rem );
  }
}

@supports not (padding-bottom: clamp( 2.5625rem , 1.5726010101rem  +  4.9494949495vw , 5.625rem )) {
  .popup__content {
    padding-bottom: calc(2.5625rem + 3.0625 * (100vw - 20rem) / 61.875);
  }
}

.popup__content::before {
  content: "";
  position: absolute;
  border-radius: 424.927px;
  background: linear-gradient(171deg, rgba(195, 243, 58, 0.25) 25.59%, rgba(41, 209, 89, 0.25) 100.44%);
  -webkit-filter: blur(86px);
          filter: blur(86px);
  right: -20%;
  top: -30%;
  z-index: -3;
}

@supports (width: clamp( 17.9375rem , 15.1698232323rem  +  13.8383838384vw , 26.5rem )) {
  .popup__content::before {
    width: clamp( 17.9375rem , 15.1698232323rem  +  13.8383838384vw , 26.5rem );
  }
}

@supports not (width: clamp( 17.9375rem , 15.1698232323rem  +  13.8383838384vw , 26.5rem )) {
  .popup__content::before {
    width: calc(17.9375rem + 8.5625 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 16.3125rem , 13.7872474747rem  +  12.6262626263vw , 24.125rem )) {
  .popup__content::before {
    height: clamp( 16.3125rem , 13.7872474747rem  +  12.6262626263vw , 24.125rem );
  }
}

@supports not (height: clamp( 16.3125rem , 13.7872474747rem  +  12.6262626263vw , 24.125rem )) {
  .popup__content::before {
    height: calc(16.3125rem + 7.8125 * (100vw - 20rem) / 61.875);
  }
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  width: 2.1875rem;
  height: 2.1875rem;
  cursor: pointer;
  display: block;
  z-index: 5;
  outline: none;
  border: none;
}

@supports (top: clamp( 1rem , 0.6363636364rem  +  1.8181818182vw , 2.125rem )) {
  .popup__close {
    top: clamp( 1rem , 0.6363636364rem  +  1.8181818182vw , 2.125rem );
  }
}

@supports not (top: clamp( 1rem , 0.6363636364rem  +  1.8181818182vw , 2.125rem )) {
  .popup__close {
    top: calc(1rem + 1.125 * (100vw - 20rem) / 61.875);
  }
}

@supports (right: clamp( 1rem , 0.5151515152rem  +  2.4242424242vw , 2.5rem )) {
  .popup__close {
    right: clamp( 1rem , 0.5151515152rem  +  2.4242424242vw , 2.5rem );
  }
}

@supports not (right: clamp( 1rem , 0.5151515152rem  +  2.4242424242vw , 2.5rem )) {
  .popup__close {
    right: calc(1rem + 1.5 * (100vw - 20rem) / 61.875);
  }
}

.popup__close::before {
  content: "";
  top: 50%;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 0.75rem;
}

.popup__close::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background-color: #fff;
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0.75rem;
}

.popup__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
}

.popup__title {
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -1.35px;
}

@supports (font-size: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem )) {
  .popup__title {
    font-size: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem )) {
  .popup__title {
    font-size: calc(1.4375rem + 1.375 * (100vw - 20rem) / 61.875);
  }
}

.popup__text {
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 28.75rem;
  width: 100%;
}

@supports (font-size: clamp( 1.125rem , 1.0643939394rem  +  0.303030303vw , 1.3125rem )) {
  .popup__text {
    font-size: clamp( 1.125rem , 1.0643939394rem  +  0.303030303vw , 1.3125rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0643939394rem  +  0.303030303vw , 1.3125rem )) {
  .popup__text {
    font-size: calc(1.125rem + 0.1875 * (100vw - 20rem) / 61.875);
  }
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.popup__input {
  max-width: 29.4375rem;
  width: 100%;
  padding: 0.9375rem 0rem 0.9375rem 1.25rem;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid transparent;
}

.popup__input:focus {
  border: 1px solid #1dd844;
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 29.4375rem;
  width: 100%;
  padding: 0.9375rem 9.0625rem;
  color: #242424;
  border-radius: 10px;
  background: var(--Gr, linear-gradient(93deg, #1dd844 1.44%, #cbf62e 126.29%));
  -webkit-box-shadow: 0 0 15px #1dd844;
          box-shadow: 0 0 15px #1dd844;
  position: relative;
  z-index: 1;
}

.popup__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 12px 9px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 12px 9px 0px rgba(0, 0, 0, 0.25);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.popup__button:disabled {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: rgba(36, 36, 36, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup__button:active {
  -webkit-box-shadow: 0 0 15px #1dd844;
          box-shadow: 0 0 15px #1dd844;
}

.popup__button:active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 4px 0px 0px #000;
          box-shadow: inset 0px 4px 0px 0px #000;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__menu {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 0.625rem;
  z-index: 5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (width: clamp( 5.5625rem , 4.7746212121rem  +  3.9393939394vw , 8rem )) {
  .header__logo img {
    width: clamp( 5.5625rem , 4.7746212121rem  +  3.9393939394vw , 8rem );
  }
}

@supports not (width: clamp( 5.5625rem , 4.7746212121rem  +  3.9393939394vw , 8rem )) {
  .header__logo img {
    width: calc(5.5625rem + 2.4375 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 2.275rem , 1.8992424242rem  +  1.8787878788vw , 3.4375rem )) {
  .header__logo img {
    height: clamp( 2.275rem , 1.8992424242rem  +  1.8787878788vw , 3.4375rem );
  }
}

@supports not (height: clamp( 2.275rem , 1.8992424242rem  +  1.8787878788vw , 3.4375rem )) {
  .header__logo img {
    height: calc(2.275rem + 1.1625 * (100vw - 20rem) / 61.875);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -1.2941919192rem  +  9.595959596vw , 6.5625rem )) or (column-gap: clamp( 0.625rem , -1.2941919192rem  +  9.595959596vw , 6.5625rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.625rem , -1.2941919192rem  +  9.595959596vw , 6.5625rem );
       -moz-column-gap: clamp( 0.625rem , -1.2941919192rem  +  9.595959596vw , 6.5625rem );
            column-gap: clamp( 0.625rem , -1.2941919192rem  +  9.595959596vw , 6.5625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -1.2941919192rem  +  9.595959596vw , 6.5625rem )) or (column-gap: clamp( 0.625rem , -1.2941919192rem  +  9.595959596vw , 6.5625rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.625rem + 5.9375 * (100vw - 20rem) / 61.875);
       -moz-column-gap: calc(0.625rem + 5.9375 * (100vw - 20rem) / 61.875);
            column-gap: calc(0.625rem + 5.9375 * (100vw - 20rem) / 61.875);
  }
}

.menu__link {
  color: #cecece;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  white-space: nowrap;
}

.menu__authorization {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  font-family: Inter;
  padding: 1rem 1.375rem;
  border-radius: 15px;
  border: 1px solid #fff;
}

@supports (margin-left: clamp( 0.625rem , -0.0820707071rem  +  3.5353535354vw , 2.8125rem )) {
  .menu__authorization {
    margin-left: clamp( 0.625rem , -0.0820707071rem  +  3.5353535354vw , 2.8125rem );
  }
}

@supports not (margin-left: clamp( 0.625rem , -0.0820707071rem  +  3.5353535354vw , 2.8125rem )) {
  .menu__authorization {
    margin-left: calc(0.625rem + 2.1875 * (100vw - 20rem) / 61.875);
  }
}

.menu__authorization:active {
  border-radius: 15px;
  border: 1px solid #c3f33b;
  background: rgba(224, 255, 172, 0.05);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}

.menu__authorization:disabled {
  border-radius: 15px;
  border: 1px solid #fff;
}

.menu-open {
  position: relative;
}

.menu-open::before {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 102%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(48, 9, 97, 0.3);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}

.menu-open .menu__body {
  right: -0.9375rem;
}

.menu-open .header__logo {
  margin-left: 1.25rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

@supports (padding-bottom: clamp( 3.125rem , 1.2058080808rem  +  9.595959596vw , 9.0625rem )) {
  .main__container {
    padding-bottom: clamp( 3.125rem , 1.2058080808rem  +  9.595959596vw , 9.0625rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.2058080808rem  +  9.595959596vw , 9.0625rem )) {
  .main__container {
    padding-bottom: calc(3.125rem + 5.9375 * (100vw - 20rem) / 61.875);
  }
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@supports (margin-top: clamp( 3rem , 2.1515151515rem  +  4.2424242424vw , 5.625rem )) {
  .main__content {
    margin-top: clamp( 3rem , 2.1515151515rem  +  4.2424242424vw , 5.625rem );
  }
}

@supports not (margin-top: clamp( 3rem , 2.1515151515rem  +  4.2424242424vw , 5.625rem )) {
  .main__content {
    margin-top: calc(3rem + 2.625 * (100vw - 20rem) / 61.875);
  }
}

.main__content::before {
  content: "";
  position: absolute;
  background: url("../img/main/circle.svg") 0 0 no-repeat;
  width: 100px;
  height: 100%;
  top: 5%;
  left: 47%;
  -webkit-transform: rotate(-25.732deg);
      -ms-transform: rotate(-25.732deg);
          transform: rotate(-25.732deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}

@supports (width: clamp( 15.5rem , 6.0252525253rem  +  47.3737373737vw , 44.8125rem )) {
  .main__info {
    width: clamp( 15.5rem , 6.0252525253rem  +  47.3737373737vw , 44.8125rem );
  }
}

@supports not (width: clamp( 15.5rem , 6.0252525253rem  +  47.3737373737vw , 44.8125rem )) {
  .main__info {
    width: calc(15.5rem + 29.3125 * (100vw - 20rem) / 61.875);
  }
}

.no-webp .main__info::before{
  background: url("../img/main/lightning-2.png") center/cover no-repeat; }

.main__info::before {
  content: "";
  position: absolute;
  width: 2.0625rem;
  height: 3.6875rem;
  bottom: 15%;
  right: 4%;
}

.main__title {
  position: relative;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
}

@supports (font-size: clamp( 1.5625rem , 0.6130050505rem  +  4.7474747475vw , 4.5rem )) {
  .main__title {
    font-size: clamp( 1.5625rem , 0.6130050505rem  +  4.7474747475vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 0.6130050505rem  +  4.7474747475vw , 4.5rem )) {
  .main__title {
    font-size: calc(1.5625rem + 2.9375 * (100vw - 20rem) / 61.875);
  }
}

@supports (letter-spacing: clamp( -0.135rem , -0.0183901515rem  +  -0.1424242424vw , -0.046875rem )) {
  .main__title {
    letter-spacing: clamp( -0.135rem , -0.0183901515rem  +  -0.1424242424vw , -0.046875rem );
  }
}

@supports not (letter-spacing: clamp( -0.135rem , -0.0183901515rem  +  -0.1424242424vw , -0.046875rem )) {
  .main__title {
    letter-spacing: calc(-0.046875rem + -0.088125 * (100vw - 20rem) / 61.875);
  }
}

.main__title span {
  font-weight: bold;
}

.main__text {
  margin-top: 0.625rem;
  color: #cecece;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@supports (width: clamp( 14.3125rem , 8.8579545455rem  +  27.2727272727vw , 31.1875rem )) {
  .main__text {
    width: clamp( 14.3125rem , 8.8579545455rem  +  27.2727272727vw , 31.1875rem );
  }
}

@supports not (width: clamp( 14.3125rem , 8.8579545455rem  +  27.2727272727vw , 31.1875rem )) {
  .main__text {
    width: calc(14.3125rem + 16.875 * (100vw - 20rem) / 61.875);
  }
}

@supports (font-size: clamp( 1.125rem , 1.023989899rem  +  0.5050505051vw , 1.4375rem )) {
  .main__text {
    font-size: clamp( 1.125rem , 1.023989899rem  +  0.5050505051vw , 1.4375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.023989899rem  +  0.5050505051vw , 1.4375rem )) {
  .main__text {
    font-size: calc(1.125rem + 0.3125 * (100vw - 20rem) / 61.875);
  }
}

.main__button {
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242424;
  border-radius: 20px;
  background: var(--Gr, linear-gradient(93deg, #1dd844 1.44%, #cbf62e 126.29%));
  -webkit-box-shadow: 0 0 15px #1dd844;
          box-shadow: 0 0 15px #1dd844;
  position: relative;
  z-index: 1;
}

@supports (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
  .main__button {
    font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
  .main__button {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 61.875);
  }
}

@supports (margin-top: clamp( 1.25rem , 0.5025252525rem  +  3.7373737374vw , 3.5625rem )) {
  .main__button {
    margin-top: clamp( 1.25rem , 0.5025252525rem  +  3.7373737374vw , 3.5625rem );
  }
}

@supports not (margin-top: clamp( 1.25rem , 0.5025252525rem  +  3.7373737374vw , 3.5625rem )) {
  .main__button {
    margin-top: calc(1.25rem + 2.3125 * (100vw - 20rem) / 61.875);
  }
}

@supports (width: clamp( 19.375rem , 18.9507575758rem  +  2.1212121212vw , 20.6875rem )) {
  .main__button {
    width: clamp( 19.375rem , 18.9507575758rem  +  2.1212121212vw , 20.6875rem );
  }
}

@supports not (width: clamp( 19.375rem , 18.9507575758rem  +  2.1212121212vw , 20.6875rem )) {
  .main__button {
    width: calc(19.375rem + 1.3125 * (100vw - 20rem) / 61.875);
  }
}

.main__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 12px 9px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 12px 9px 0px rgba(0, 0, 0, 0.25);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.main__button:disabled {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: rgba(36, 36, 36, 0.5);
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main__button:active {
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px #1dd844;
          box-shadow: 0 0 15px #1dd844;
}

.main__button:active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 4px 0px 0px #000;
          box-shadow: inset 0px 4px 0px 0px #000;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.main__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.no-webp .main__image::before{
  background: center/cover no-repeat url("../img/main/pig.png"); }

.main__image::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6%;
  top: 22%;
}

@supports (width: clamp( 5rem , 2.9797979798rem  +  10.101010101vw , 11.25rem )) {
  .main__image::before {
    width: clamp( 5rem , 2.9797979798rem  +  10.101010101vw , 11.25rem );
  }
}

@supports not (width: clamp( 5rem , 2.9797979798rem  +  10.101010101vw , 11.25rem )) {
  .main__image::before {
    width: calc(5rem + 6.25 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 5.3125rem , 3.5751262626rem  +  8.6868686869vw , 10.6875rem )) {
  .main__image::before {
    height: clamp( 5.3125rem , 3.5751262626rem  +  8.6868686869vw , 10.6875rem );
  }
}

@supports not (height: clamp( 5.3125rem , 3.5751262626rem  +  8.6868686869vw , 10.6875rem )) {
  .main__image::before {
    height: calc(5.3125rem + 5.375 * (100vw - 20rem) / 61.875);
  }
}

.no-webp .main__image::after{
  background: center/cover no-repeat url("../img/main/money.png"); }

.main__image::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -8%;
  bottom: 33%;
}

@supports (width: clamp( 3.25rem , 0.2196969697rem  +  15.1515151515vw , 12.625rem )) {
  .main__image::after {
    width: clamp( 3.25rem , 0.2196969697rem  +  15.1515151515vw , 12.625rem );
  }
}

@supports not (width: clamp( 3.25rem , 0.2196969697rem  +  15.1515151515vw , 12.625rem )) {
  .main__image::after {
    width: calc(3.25rem + 9.375 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 3.25rem , 0.2196969697rem  +  15.1515151515vw , 12.625rem )) {
  .main__image::after {
    height: clamp( 3.25rem , 0.2196969697rem  +  15.1515151515vw , 12.625rem );
  }
}

@supports not (height: clamp( 3.25rem , 0.2196969697rem  +  15.1515151515vw , 12.625rem )) {
  .main__image::after {
    height: calc(3.25rem + 9.375 * (100vw - 20rem) / 61.875);
  }
}

.main__block {
  position: relative;
}

.main__block::before {
  content: "";
  position: absolute;
  background: linear-gradient(171deg, rgba(95, 56, 255, 0.55) 25.59%, rgba(255, 14, 222, 0.55) 100.44%);
  border-radius: 474.935px;
  -webkit-filter: blur(86px);
          filter: blur(86px);
  width: 29.6834375rem;
  height: 29.6834375rem;
  z-index: -2;
  top: 22%;
  right: 0;
  left: 0;
  bottom: 0;
}

.main__min-block {
  position: relative;
}

.no-webp .main__min-block::after{
  background: center/cover no-repeat url("../img/main/smile.png"); }

.main__min-block::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 2;
  top: 7%;
  left: 16%;
}

@supports (width: clamp( 2rem , 1.1717171717rem  +  4.1414141414vw , 4.5625rem )) {
  .main__min-block::after {
    width: clamp( 2rem , 1.1717171717rem  +  4.1414141414vw , 4.5625rem );
  }
}

@supports not (width: clamp( 2rem , 1.1717171717rem  +  4.1414141414vw , 4.5625rem )) {
  .main__min-block::after {
    width: calc(2rem + 2.5625 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 2rem , 1.1717171717rem  +  4.1414141414vw , 4.5625rem )) {
  .main__min-block::after {
    height: clamp( 2rem , 1.1717171717rem  +  4.1414141414vw , 4.5625rem );
  }
}

@supports not (height: clamp( 2rem , 1.1717171717rem  +  4.1414141414vw , 4.5625rem )) {
  .main__min-block::after {
    height: calc(2rem + 2.5625 * (100vw - 20rem) / 61.875);
  }
}

.no-webp .main__min-block::before{
  background: center/cover no-repeat url("../img/main/lightning.png"); }

.main__min-block::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 2;
  top: 6%;
  right: 13%;
}

@supports (width: clamp( 1.625rem , 0.9785353535rem  +  3.2323232323vw , 3.625rem )) {
  .main__min-block::before {
    width: clamp( 1.625rem , 0.9785353535rem  +  3.2323232323vw , 3.625rem );
  }
}

@supports not (width: clamp( 1.625rem , 0.9785353535rem  +  3.2323232323vw , 3.625rem )) {
  .main__min-block::before {
    width: calc(1.625rem + 2 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 3.1875rem , 2.1369949495rem  +  5.2525252525vw , 6.4375rem )) {
  .main__min-block::before {
    height: clamp( 3.1875rem , 2.1369949495rem  +  5.2525252525vw , 6.4375rem );
  }
}

@supports not (height: clamp( 3.1875rem , 2.1369949495rem  +  5.2525252525vw , 6.4375rem )) {
  .main__min-block::before {
    height: calc(3.1875rem + 3.25 * (100vw - 20rem) / 61.875);
  }
}

@supports (width: clamp( 13.8125rem , 6.9640151515rem  +  34.2424242424vw , 35rem )) {
  .main__img {
    width: clamp( 13.8125rem , 6.9640151515rem  +  34.2424242424vw , 35rem );
  }
}

@supports not (width: clamp( 13.8125rem , 6.9640151515rem  +  34.2424242424vw , 35rem )) {
  .main__img {
    width: calc(13.8125rem + 21.1875 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 13.8125rem , 3.9337121212rem  +  49.3939393939vw , 44.375rem )) {
  .main__img {
    height: clamp( 13.8125rem , 3.9337121212rem  +  49.3939393939vw , 44.375rem );
  }
}

@supports not (height: clamp( 13.8125rem , 3.9337121212rem  +  49.3939393939vw , 44.375rem )) {
  .main__img {
    height: calc(13.8125rem + 30.5625 * (100vw - 20rem) / 61.875);
  }
}

.info {
  background: #fff;
}

@supports (padding-top: clamp( 4.375rem , 1.8497474747rem  +  12.6262626263vw , 12.1875rem )) {
  .info__container {
    padding-top: clamp( 4.375rem , 1.8497474747rem  +  12.6262626263vw , 12.1875rem );
  }
}

@supports not (padding-top: clamp( 4.375rem , 1.8497474747rem  +  12.6262626263vw , 12.1875rem )) {
  .info__container {
    padding-top: calc(4.375rem + 7.8125 * (100vw - 20rem) / 61.875);
  }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -4.0404039577rem  +  20.202020101vw , 12.5rem )) {
  .info__container {
    padding-bottom: clamp( 0.0000000625rem , -4.0404039577rem  +  20.202020101vw , 12.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -4.0404039577rem  +  20.202020101vw , 12.5rem )) {
  .info__container {
    padding-bottom: calc(0.0000000625rem + 12.4999999375 * (100vw - 20rem) / 61.875);
  }
}

.info__content {
  position: relative;
  background: linear-gradient(213deg, #323e51 4.9%, #1d2532 55.16%);
  border-radius: 20px;
}

@supports (padding-top: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 8.125rem )) {
  .info__content {
    padding-top: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.6818181818rem  +  9.0909090909vw , 8.125rem )) {
  .info__content {
    padding-top: calc(2.5rem + 5.625 * (100vw - 20rem) / 61.875);
  }
}

@supports (padding-bottom: clamp( 5.625rem , 4.0088383838rem  +  8.0808080808vw , 10.625rem )) {
  .info__content {
    padding-bottom: clamp( 5.625rem , 4.0088383838rem  +  8.0808080808vw , 10.625rem );
  }
}

@supports not (padding-bottom: clamp( 5.625rem , 4.0088383838rem  +  8.0808080808vw , 10.625rem )) {
  .info__content {
    padding-bottom: calc(5.625rem + 5 * (100vw - 20rem) / 61.875);
  }
}

.info__content::before {
  content: "";
  position: absolute;
  background: url("../img/info/circle-violet.svg") center/cover no-repeat;
}

@supports (width: clamp( 4.6875rem , 3.1521464646rem  +  7.6767676768vw , 9.4375rem )) {
  .info__content::before {
    width: clamp( 4.6875rem , 3.1521464646rem  +  7.6767676768vw , 9.4375rem );
  }
}

@supports not (width: clamp( 4.6875rem , 3.1521464646rem  +  7.6767676768vw , 9.4375rem )) {
  .info__content::before {
    width: calc(4.6875rem + 4.75 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 4.6875rem , 3.1521464646rem  +  7.6767676768vw , 9.4375rem )) {
  .info__content::before {
    height: clamp( 4.6875rem , 3.1521464646rem  +  7.6767676768vw , 9.4375rem );
  }
}

@supports not (height: clamp( 4.6875rem , 3.1521464646rem  +  7.6767676768vw , 9.4375rem )) {
  .info__content::before {
    height: calc(4.6875rem + 4.75 * (100vw - 20rem) / 61.875);
  }
}

@supports (right: clamp( -1.875rem , -4.9053030303rem  +  15.1515151515vw , 7.5rem )) {
  .info__content::before {
    right: clamp( -1.875rem , -4.9053030303rem  +  15.1515151515vw , 7.5rem );
  }
}

@supports not (right: clamp( -1.875rem , -4.9053030303rem  +  15.1515151515vw , 7.5rem )) {
  .info__content::before {
    right: calc(-1.875rem + 9.375 * (100vw - 20rem) / 61.875);
  }
}

@supports (top: clamp( -5.9375rem , -1.3888888889rem  +  -5.5555555556vw , -2.5rem )) {
  .info__content::before {
    top: clamp( -5.9375rem , -1.3888888889rem  +  -5.5555555556vw , -2.5rem );
  }
}

@supports not (top: clamp( -5.9375rem , -1.3888888889rem  +  -5.5555555556vw , -2.5rem )) {
  .info__content::before {
    top: calc(-2.5rem + -3.4375 * (100vw - 20rem) / 61.875);
  }
}

.info__content::after {
  content: "";
  position: absolute;
  border-radius: 27.5rem;
  background: linear-gradient(171deg, rgba(95, 56, 255, 0.25) 25.59%, rgba(255, 14, 222, 0.25) 100.44%);
  -webkit-filter: blur(86px);
          filter: blur(86px);
  width: 27.5rem;
  height: 27.5rem;
  border-radius: 27.5rem;
  right: 0;
  top: -1.875rem;
}

.info__title {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

@supports (font-size: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem )) {
  .info__title {
    font-size: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.4375rem , 0.9930555556rem  +  2.2222222222vw , 2.8125rem )) {
  .info__title {
    font-size: calc(1.4375rem + 1.375 * (100vw - 20rem) / 61.875);
  }
}

.info__title::after {
  content: "";
  position: absolute;
  background: url("../img/info/circle-blue.svg") center/cover no-repeat;
}

@supports (width: clamp( 1.3125rem , 0.0397727273rem  +  6.3636363636vw , 5.25rem )) {
  .info__title::after {
    width: clamp( 1.3125rem , 0.0397727273rem  +  6.3636363636vw , 5.25rem );
  }
}

@supports not (width: clamp( 1.3125rem , 0.0397727273rem  +  6.3636363636vw , 5.25rem )) {
  .info__title::after {
    width: calc(1.3125rem + 3.9375 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 1.3125rem , 0.0397727273rem  +  6.3636363636vw , 5.25rem )) {
  .info__title::after {
    height: clamp( 1.3125rem , 0.0397727273rem  +  6.3636363636vw , 5.25rem );
  }
}

@supports not (height: clamp( 1.3125rem , 0.0397727273rem  +  6.3636363636vw , 5.25rem )) {
  .info__title::after {
    height: calc(1.3125rem + 3.9375 * (100vw - 20rem) / 61.875);
  }
}

@supports (left: clamp( 0.0000000625rem , -3.4343433516rem  +  17.1717170707vw , 10.625rem )) {
  .info__title::after {
    left: clamp( 0.0000000625rem , -3.4343433516rem  +  17.1717170707vw , 10.625rem );
  }
}

@supports not (left: clamp( 0.0000000625rem , -3.4343433516rem  +  17.1717170707vw , 10.625rem )) {
  .info__title::after {
    left: calc(0.0000000625rem + 10.6249999375 * (100vw - 20rem) / 61.875);
  }
}

@supports (top: clamp( -1.25rem , 7.0202020202rem  +  -10.101010101vw , 5rem )) {
  .info__title::after {
    top: clamp( -1.25rem , 7.0202020202rem  +  -10.101010101vw , 5rem );
  }
}

@supports not (top: clamp( -1.25rem , 7.0202020202rem  +  -10.101010101vw , 5rem )) {
  .info__title::after {
    top: calc(5rem + -6.25 * (100vw - 20rem) / 61.875);
  }
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 4.0625rem auto 0rem auto;
  gap: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 56.25rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.info__list::before {
  content: "";
  position: absolute;
  width: 27.5rem;
  height: 27.5rem;
  border-radius: 27.5rem;
  background: linear-gradient(171deg, rgba(95, 56, 255, 0.25) 25.59%, rgba(255, 14, 222, 0.25) 100.44%);
  -webkit-filter: blur(86px);
          filter: blur(86px);
  bottom: -25%;
  left: -10%;
}

.info__list::after {
  content: "";
  position: absolute;
  background: url("../img/info/circle-violet-blur.svg") center/cover no-repeat;
  fill: var(--Radial, radial-gradient(95.39% 95.39% at 50.77% 4.62%, #dea8ff 0%, #9d6ad9 44.51%, #7a2bf6 100%));
  stroke-width: 1px;
  stroke: rgba(226, 193, 255, 0.53);
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

@supports (width: clamp( 3.875rem , 2.4810606061rem  +  6.9696969697vw , 8.1875rem )) {
  .info__list::after {
    width: clamp( 3.875rem , 2.4810606061rem  +  6.9696969697vw , 8.1875rem );
  }
}

@supports not (width: clamp( 3.875rem , 2.4810606061rem  +  6.9696969697vw , 8.1875rem )) {
  .info__list::after {
    width: calc(3.875rem + 4.3125 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 3.875rem , 2.4810606061rem  +  6.9696969697vw , 8.1875rem )) {
  .info__list::after {
    height: clamp( 3.875rem , 2.4810606061rem  +  6.9696969697vw , 8.1875rem );
  }
}

@supports not (height: clamp( 3.875rem , 2.4810606061rem  +  6.9696969697vw , 8.1875rem )) {
  .info__list::after {
    height: calc(3.875rem + 4.3125 * (100vw - 20rem) / 61.875);
  }
}

@supports (right: clamp( -0.625rem , 0.2020202847rem  +  -1.0101011111vw , 0.0000000625rem )) {
  .info__list::after {
    right: clamp( -0.625rem , 0.2020202847rem  +  -1.0101011111vw , 0.0000000625rem );
  }
}

@supports not (right: clamp( -0.625rem , 0.2020202847rem  +  -1.0101011111vw , 0.0000000625rem )) {
  .info__list::after {
    right: calc(0.0000000625rem + -0.6250000625 * (100vw - 20rem) / 61.875);
  }
}

@supports (bottom: clamp( -11.875rem , -14.9053030303rem  +  15.1515151515vw , -2.5rem )) {
  .info__list::after {
    bottom: clamp( -11.875rem , -14.9053030303rem  +  15.1515151515vw , -2.5rem );
  }
}

@supports not (bottom: clamp( -11.875rem , -14.9053030303rem  +  15.1515151515vw , -2.5rem )) {
  .info__list::after {
    bottom: calc(-11.875rem + 9.375 * (100vw - 20rem) / 61.875);
  }
}

.info__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 18.75rem;
  height: 19.375rem;
  border-radius: 1.25rem;
  background: rgb(51, 62, 81);
  -webkit-backdrop-filter: blur(30.5px);
          backdrop-filter: blur(30.5px);
  padding: 2.8125rem 0.625rem 0rem 0.625rem;
  z-index: 1;
}

.info__item::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  background: rgba(51, 62, 81, 0.6);
  width: 16.25rem;
  height: 16.75rem;
  top: 4.0625rem;
  z-index: -1;
}

@supports (width: clamp( 5.1875rem , 4.5006313131rem  +  3.4343434343vw , 7.3125rem )) {
  .info__images {
    width: clamp( 5.1875rem , 4.5006313131rem  +  3.4343434343vw , 7.3125rem );
  }
}

@supports not (width: clamp( 5.1875rem , 4.5006313131rem  +  3.4343434343vw , 7.3125rem )) {
  .info__images {
    width: calc(5.1875rem + 2.125 * (100vw - 20rem) / 61.875);
  }
}

@supports (height: clamp( 5.1875rem , 4.5006313131rem  +  3.4343434343vw , 7.3125rem )) {
  .info__images {
    height: clamp( 5.1875rem , 4.5006313131rem  +  3.4343434343vw , 7.3125rem );
  }
}

@supports not (height: clamp( 5.1875rem , 4.5006313131rem  +  3.4343434343vw , 7.3125rem )) {
  .info__images {
    height: calc(5.1875rem + 2.125 * (100vw - 20rem) / 61.875);
  }
}

.info__text {
  margin-top: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
  letter-spacing: -0.7px;
}

@supports (font-size: clamp( 1rem , 0.9393939394rem  +  0.303030303vw , 1.1875rem )) {
  .info__text {
    font-size: clamp( 1rem , 0.9393939394rem  +  0.303030303vw , 1.1875rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9393939394rem  +  0.303030303vw , 1.1875rem )) {
  .info__text {
    font-size: calc(1rem + 0.1875 * (100vw - 20rem) / 61.875);
  }
}

@media (max-width: 47.99875em) {
  .popup_show {
    padding: 0;
  }

  .popup__content {
    max-width: 100%;
  }

  .popup__content::before {
    content: "";
    top: 90%;
  }

  .menu__body {
    position: absolute;
    right: -937.5rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: -1.875rem;
    border-radius: 0px 0px 0px 30px;
    background: #293344;
    padding: 7.1875rem 0rem 3.75rem 1.25rem;
    width: 102%;
    z-index: 3;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 1.25rem;
    margin-top: 3.375rem;
  }

  .menu__authorization {
    margin-top: 5.625rem;
    margin-left: 0rem;
  }

  .icon-menu {
    display: block;
    position: absolute;
    right: 0rem;
    width: 2.5rem;
    height: 0.9375rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.1875rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__content::before {
    display: none;
  }

  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__info::before {
    bottom: 46%;
    right: 92%;
    width: 1rem;
    height: 1.8125rem;
  }

  .main__title {
    text-align: center;
  }

  .main__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-align: center;
  }

  .main__button {
    margin: 1.875rem auto 0rem auto;
    width: 100%;
  }

  .main__image {
    margin: 1.25rem auto 0rem auto;
  }

  .info__container {
    padding: 4.375rem 0rem 0rem 0rem;
  }
}

@media (max-width: 47.9375em) {
  .header__menu {
    margin-top: 1.25rem;
    position: relative;
  }
}

@media (max-width: 42.4375em) {
  .info__list::after {
    bottom: -5.625rem;
  }
}

@media (max-width: 40.625em) {
  .main__info::before {
    bottom: 47%;
  }
}

@media (max-width: 29.99875em) {
  .main__info::before {
    bottom: 50%;
    width: 0.75rem;
    height: 1.5625rem;
  }

  .main__image::before {
    top: 19%;
  }

  .main__img {
    height: auto;
  }
}

@media (max-width: 21.875em) {
  .main__info::before {
    bottom: 54%;
    right: 95%;
  }
}

@media (any-hover: hover) {
  .popup__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .popup__button:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0 0 30px #1dd844;
            box-shadow: 0 0 30px #1dd844;
    -webkit-filter: blur(7.5px);
            filter: blur(7.5px);
  }

  .menu__authorization:hover {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #c3f33b;
    border: 1px solid #c3f33b;
  }

  .main__button:hover {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
  }

  .main__button:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0 0 30px #1dd844;
            box-shadow: 0 0 30px #1dd844;
    -webkit-filter: blur(7.5px);
            filter: blur(7.5px);
  }
}

.webp .main__info::before{ background: url(../img/main/lightning-2.webp) center/cover no-repeat; }

.webp .main__image::before{ background: center/cover no-repeat url(../img/main/pig.webp); }

.webp .main__image::after{ background: center/cover no-repeat url(../img/main/money.webp); }

.webp .main__min-block::after{ background: center/cover no-repeat url(../img/main/smile.webp); }

.webp .main__min-block::before{ background: center/cover no-repeat url(../img/main/lightning.webp); }